#wrap-1{
    /* transform: translateY(0px)!important; */
    box-shadow: 48px 42px 2px black, -7px -35px 32px black!important;
    background-color: black;
}


@media only screen and (max-width: 575px) {

    .hero-section{
        height: 300px;
    }
  .wrapper{
transform: translateY(-250px);
  }
}